@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Default theme is light */
:root{
    --color-background: #FFF8F0;
    --color-input-bg: #FFF;
    --color-text: #000;    
    --color-primary: #D88C5A;
}

/* If broweser or OS set the preference for dark mode */
/* @media (prefers-color-scheme: dark) {
  :root{
    --color-background: #000;
    --color-input-bg: #1d1d1d;
    --color-text: #FFF;    
  }
} */

body, html{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    box-sizing: border-box;
    min-height: 100dvh;
    font-family: 'Inter', 'Roboto', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}

main{
    padding: 2rem;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
}
figure{
    max-width: 400px;
}
img{
    object-fit: contain;
    max-width: 100%;
    height: auto;
}

video{
    width: 100%;
    height: auto;
}

figure{
    margin: 1rem;
}

.max400{
    max-width: 400px;
}

.hidden{
    display: none !important;
}

input, select, textarea{
    font-size: 16px;
    padding: 0.5rem;
    font-family: inherit;
    border: 1px solid var(--color-text);
    background-color: var(--color-input-bg);
    color: var(--color-text);
}
select{
    color: var(--color-text);
    background-color: var(--color-input-bg);
}
label{
    font-weight: 500;
    font-size: 14px;
}

section{
    background-color: var(--color-neutral);
    padding: 1rem;
    border-radius: 8px;
}
section:not(:last-child){
    margin-bottom: 2rem;
}
section h2{
    margin: 0 0 1.5rem 0;
}


/* Navigation Styles */
header, footer{
    position: relative;
    display: flex;
    background-color: var(--color-primary);
    color: var(--color-background);
    padding: 1rem;
}
header > *, footer > *{
    margin: 1.5rem;
}
header {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--color-primary); 
}
header > *{
    margin: 0px;
}
nav ul {
    padding: 0px;
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    margin-block-start: 0;
    margin-block-end: 0;
}
nav a{
    text-decoration: none;
    color: inherit;
    font-size: 22px;
    font-weight: 500;
}
nav a[aria-current="page"]{
    font-weight: 700;
    text-decoration: wavy underline;
}
#nav-logo{
    width: 150px;
    height: auto;
}

/** Form Styles **/
.input-container{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.validation-text{
    font-size: 12px;
    color: var(--color-text);
    margin: 0;
    color: red;
}
.invalid{
    border-color: red;
    outline-color: red;
    outline-style: solid;
    outline-width: 1px;
}


fieldset{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-color: var(--color-text);
}
label{
    font-weight: 500;
}

textarea{
    resize: vertical;
}

.button{
    width: fit-content;
    font-size: 20px;
    font-weight: 600;
    padding: 0.5rem 1rem;
    background-color: var(--color-primary);
    border: 1px solid var(--color-text);
    color: var(--color-text);
    cursor: pointer;
    border-radius: 2px;
}

#button-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

/* Theme */
.theme-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 0.5rem;
}
.theme-container p{
    font-size: 14px;
    margin: 0;
}

@media (min-width: 600px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
    
    nav ul {
        flex-direction: row;
        gap: 1.5rem;
    }
}